/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  max-width: 1128px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

.gallery-item {
  margin-top: 15px;
  width: 360px;
  height: 200px;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.gallery-link {
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.modal-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}

.feedback-form {
  padding: 24px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
}

.label-input-box {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;

  gap: 8px;
  display: flex;
  flex-direction: column;
}

.email-input {
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.text-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  margin-bottom: 16px;
  height: 80px;
}

.text-input:hover,
.email-input:hover {
  border: 1px solid #000000;
}

.text-input:active,
.email-input:active {
  border: 1px solid #808080;
}

.submit-button {
  height: 40px;
  width: 95px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  transition-duration: 0.3s;
}

.submit-button:hover {
  background-color: #6c8cff;
}
